$dark-blue: #022144;
$lime-green: #BBCC34;

body {
    background-color: #E4E4E4;
}

/* Fonts */
@font-face {
    font-family: 'bariol_regularregular';
    src: local('bariol_regularregular'), url('../fonts/Bariol_Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, h1, h2, h3, h4, h5, h6, p {
    font-family: "bariol_regularregular", sans-serif;
}

/* Buttons */
.btn {
    background-color: $dark-blue;
}

.btn-primary:hover {
    color: #fff;
    background-color: #4a4a4a;
    border-color: #4a4a4a;
}

.btn-primary {
    color: #fff;
    background-color: $lime-green;
    border-color: $lime-green;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    color: #ffffff;
    background-color: $dark-blue;
    border-color: $dark-blue;
}

.button-group {
    float: right; padding-right: 15px;
}

/* Spinner */
.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -50px; 
  margin-top: -50px;
  text-align: center;
  z-index: 1000;
  overflow: auto;
}

#spinner-image{
    width: 100px;
    height:  100px;
}

.custom-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header {
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    color: white;
}

@media only screen and (max-width : 935px) {
    .header {
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* Nav */
.navbar {
    margin-bottom: 0;
    border: 0;
    background-color: $dark-blue;
}

.navbar .nav {
    float: right;
}

.navbar .nav .active {
    text-decoration: underline;
}

.navbar h3 a {
    color: white;
}

.navbar-brand h2 {
    margin: 0 0 0 0;
}

.navbar-default .navbar-brand {
    color: #000000;
}

.navbar .nav h3 {
    font-size: 18px;
    margin: 20px;
}

.navbar-fixed-top {
    position: inherit;
    margin-bottom: 2em;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #333;
}

.navbar-inverse .brand:active,
.navbar-inverse .nav > li > a:active,
.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover {
    color: #808080;
}

.navbar {
    background-image: none !important;
    border-bottom: 1px solid $dark-blue;
    border-radius: 0 !important;
}

#account-dropdown {
    font-size: 18px;
    padding-top: 20px;
    float: left;
    padding-right: 70px;

    .caret {
        border-top:4px solid white;  
    }
}

// dropdown nav menu on hover
@media (min-width: 768px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

@media only screen and (max-width : 767px) {
        #account-dropdown {
        padding-top: 0px;
        padding-right: 58px;
    }
}

a#account-dropdown {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    text-decoration: underline;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #555;
    background-color: transparent;
}

.dropdown-menu>li>a {
    color: #fff;
    background-color: $dark-blue;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: $lime-green;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
    background-color: $dark-blue;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: white;
    background-color: $lime-green
}

.disabled {
    opacity: 0.4;
}

// toggle button
.navbar-default .navbar-toggle {
    border-color: $lime-green !important;
    margin-top:15px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: $lime-green !important;
    border: 1px solid $lime-green !important;
    border-radius: 4px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
/* Sidebar */
.account-sidebar {
    margin: 0 !important;
    padding: 0 !important;
}

.account-sidebar li {
    list-style: none;
    padding: 1em;
}

.account-sidebar .active {
    background-color: #DADADA;
    border: 1px solid $dark-blue;
    border-left: 8px solid $dark-blue;

    h4, i{
        color: $dark-blue;
    }
}

.sidebar {
    background-color: #EFEFEF;
    height: 35em;
}

@media only screen and (max-width : 768px) {
    .sidebar {
        height: 20em;
    }
}

.sidebar a {
    color: #000000;
    text-decoration: none;
}

.sidebar i {
    font-size: 2em;
    float: left;
    padding: 0.2em 0.5em;
}

/* Main Content */
#main-content .col-sm-3 {
    padding: 0;
}

/* Manage Content */
.manage-content {
    position: relative;
    background-color: #ffffff;
    height: 35em;
    padding-top: 20px;
}

@media only screen and (max-width : 768px) {
    .manage-content {
        height: auto;
    }
}
