$dark-blue: #022144;
$lime-green: #BBCC34;
$warning-red: #b94a48;
$orange: #FFA500;

#sign-in {
    position: relative;
    max-width: 360px;
    padding: 19px 29px 29px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}

#sign-in h2 {
    text-align: center;
    color: $dark-blue;
}

#sign-in label {
    font-weight: normal;
}

#sign-in-button {
    width: 100%;
    position: absolute;
    bottom: -1em;
    left: 0;
    border-radius: 0 !important;
    background: $dark-blue;
    color: white;
}

#sign-in-button:hover {
    background: $lime-green;
}

#error-message {
    background: $orange;
    color: white;
    padding: 6px;
}

#error-message i {
    font-size: 15px;
}

#error-message ul {
    text-align: center;
    list-style: none outside none;
    margin-bottom: 0;
}

.success-message {
    background-color: $lime-green !important;;
}

.error-message {
    background-color: $warning-red !important;
}

.warning {
    border: 1px solid $orange !important;
}

.warning-label {
    color: $orange;
} 